
.container
{
	background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:50%;
    height:50%;
	padding: 5%;
	margin: auto;
	margin-top: 10%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.container .right
{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	gap: 10px;
}
.WF
{
	border: 1px solid #fe8c12;
	border-radius: 10px;
	height: 20px;
	width: 240px;
	padding: 10px;
}
.ws
{
    border:1px solid #fe8c12;
    border-radius: 20px;
    display: inline;
    background-color: #fe8c12;
    font-size: 20px;
	width:200px;
    height: 40px;
    color: white;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;

}
.ws:hover{
    background-color: #525CEB;
    border:#525CEB;
    color: #fff;
}
.right button
{
	border: 1px solid #fe8c12;
	border-radius: 10px;
	height: 30px;
	background-color: #fe8c12;
	margin-left:70px;
	width:150px;
}

.ligne
{
    height:150px;
	border: 1px solid #fe8c12;
}

